<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}
<html>
<head>
{% block title %}Your gardens{% endblock %}

</style>
</head>
<body>

{% block content %}
  <p>Hi {{ user.username }}!</p>
  <p>You have the following gardens saved. Click them to view your plots:</p>
  <ul>
    {% for garden in gardens %}
    <li><a href="{% url 'gardenview' garden_id=garden.id %}">{{ garden.name }}</a></li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'gardencreate' %}">Create a new garden or allotment</a></p>
{% endblock %}
</body>
</html>
