<!-- templates/base.html -->
<!DOCTYPE html>

{% load static %}
<html>
<head>
  {% block css %}
  {% endblock %}
  <meta charset="utf-8">
  <title>{% block title %}Sproutabee{% endblock %}</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
  <header class="title"><h1><a href="{% url 'home' %}">Sproutabee</a></h1></header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
	{% block javascript %}
	{% endblock %}

</body>
</html>
