.garden{
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.row{
  display: flex;
  flex-flow: row nowrap;
}

.cell{
  background-color: brown;
  width: 39px;
  height: 39px;
  margin: 1px;
}
